{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {#    <h1>Bonjour Monsieur {{ prenom }} {{ nom }} Bienvenu sur le controller {{ controller_name }}! :coche_blanche:</h1>#}
        <h1 class="text-center">
            bienvenue à {{ destination }}
        </h1>
        <a href="{{ path('test-twig') }}">Home Page Twig <i class="fa fa-home"></i> </a>
        <br/>

        {% if destination == 'cuba' %}
            <img src="{{ asset ('images/cuba.jpg') }}">
        {% endif %}
        {% if destination == 'dubai' %}
            <img src="{{ asset ('images/dubai.jpg') }}">
        {% endif %}
        {% if destination == 'londres' %}
            <img src="{{ asset ('images/londres.jpg') }}">
        {% endif %}
        <br/>
        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/Users/HB/agenceVoyage/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/Users/HB/agenceVoyage/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
